#mods {
	padding: 40px 16px;
	max-width: 1044px;
	margin-left: auto;
	margin-right: auto;
}

.mods-card-square>.mdl-card__title {
	height: 176px;
	color: #fff;
	background-size: cover;
}


#mce3>.mdl-card__title {
	background: url('../assets/index/mce3_n.png') bottom right 15% no-repeat
		#46B6AC;
		background-size: cover;
}