<header class="mdl-layout__header mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">Shift's Hat</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link" href="">Mods</a>
      <a class="mdl-navigation__link" href="">Web Game</a>
    </nav>
  </div>
</header>