<!DOCTYPE html>
<html>
<head>
<%- include('./common/_head'); %>
<link rel="stylesheet" href="./css/index.css">
<title>Shift's Hat</title>
</head>
<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <%- include('./common/_header'); %>
    <%- include('./common/_drawer'); %>
    <main class="mdl-layout__content">

      <section id="mods">

        <div class="mods-title mdl-typography--display-1-color-contrast">Mods</div>
        <div class="mdl-grid">
          <div id="ss3" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mods-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">SextiarySector3</h2>
            </div>
            <div class="mdl-card__supporting-text">
            <span class="mdl-chip"> <span
                class="mdl-chip__text">MC_Ver 1.10.2</span>
              </span>
            </div>
            <div class="mdl-card__supporting-text">

              Minecraftに第六次産業の概念を追加するMod
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a
                class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                詳細 </a>
            </div>
          </div>
          <div id="mce3" class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-cell--4-col-phone mods-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">MCEconomy3</h2>
            </div>
            <div class="mdl-card__supporting-text">
            <span class="mdl-chip"> <span
                class="mdl-chip__text">MC_Ver 1.10.2</span>
              </span>
            </div>
            <div class="mdl-card__supporting-text">
            Minecraftに経済の概念を追加するMod
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a
                class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                詳細 </a>
            </div>
          </div>
        </div>
      </section>

    </main>
  </div>

</body>
</html>